<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Require练习</title>
</head>
<body>
    <h3>显示key/value格式值</h3>
    <div id="tip1"></div>    

    <h3>显示两个输入值的最大值</h3>
    <input type="text" name="a" id="text1">
    <input type="text" name="b" id="text2">
    <input type="button" value="确定" id='btn'>
    <p id="tip2"></p>

    <h3>显示输入值的奇偶性</h3>
    <input type="text" name="num" id="text3">
    <input type="button" value="确定" id='btn2'>
    <p id="tip3"></p>

    <div id="tip4"></div> 
    <script src="../js/lib/require.min.js"></script> 
    <script src="../js/config.js"></script> 
    <script src="../js/page/main.js"></script> 
</body>
</html>